/*---------------------
 Single Gallery
-----------------------*/

.gallery-single-page {
	padding-top: 90px;
}

.gallery-single-text {
	padding: 75px 70px 0 80px;
}

/*---------------------
  Bibliography
-----------------------*/

.bibliography-text {
	font-size: 50px;
	font-family: Times New Roman, sans-serif;
	line-height: 45px;
	margin-top: 15px;
	margin-bottom: 30px;
	color: black;
}

.bibliography-ul {
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	line-height: 45px;
	margin-left: 10px;
}

.map-warp iframe {
	height: 215px;
	width: 100%;
}

.map-warp {
	font-size: 15px;
	font-family: Times New Roman, sans-serif;
	line-height: 25px;
	margin-bottom: 30px;
}

.elements-page {
	padding: 100px 100px 0 85px;
	background: #f7f9fb;
	height: auto;
}

.gallery-single-text {
		padding-left: 20px;
		padding-top: 5px;
}

.gallery-single-text h2 {
	margin-bottom: 10px;
	font-size: 48px;

.gallery-single-text ul {
	list-style: none;
	margin-bottom: 25px;
}

.gallery-single-text ul li {
	font-size: 16px;
	color: #000;
	margin-bottom: 0px;
}

.gallery-single-text ul li span {
	font-size: 24px;
	color: #323232;
	text-transform: inherit;
	font-weight: 400;
	letter-spacing: normal;
	width: 90px;
	display: inline-block;
}